<h1>Recipe info</h1>
<h2>Title <%= @recipe.title %></h2>
<h4>Chef: <%= @recipe.chef %></h4>
<p>Image: <%= @recipe.image_url %> </p>
<img src="<%= @recipe.image_url %>" alt="<%= @recipe.title %>">
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Directions: <%= @recipe.directions %></p>
